.chartMqtt{
    margin: 10px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 11px -5px #000000; 
    box-shadow: 0px 0px 11px -5px #000000;
}
.widget{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.chartMqttTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mqttTitle{
    font-weight: 600;
    font-size: 28px;
    color: #9999FF;
}
.btnConnect{
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    height: 25px;
    background-color: #33FF99;
    color: #555555;
    width: 150px;
}
.btnDisconnect{
    width: 150px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    height: 25px;
    background-color: #FF0000;
    color: #555555;
}
.titleButton{
    font-size: 18px;
}
.statusGood{
    color: #006633;
    text-align: center;
    font-weight: 600;
    font-size: 28px;
}
.M1StasusOn{
    color: #006633;
    text-align: center;
    font-weight: 600;
    font-size: 28px;
}
.statusBad{
    color: #FF0000;
    text-align: center;
    font-weight: 600;
    font-size: 28px;
}
.M1StatusOff{
    color: #FF0000;
    text-align: center;
    font-weight: 600;
    font-size: 28px;
}
.widgetMqttList{
    -webkit-box-shadow: 0px 0px 11px -5px #000000; 
    box-shadow: 0px 0px 11px -5px #000000;
    width: 250px;
    height: 120px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    background-color:#C6E2FF;
}
.widgetMqttTempTitleList{
    display: flex;
    flex-direction: column;
}
.widgetTitle,.widgetTitleStatus,.widgetMqttM1Title,.widgetMqttMotor1StatusTitle{
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;
    color: #FF3333;
}
.widgetTempValue{
    text-align: center;
    font-weight: 600;
    font-size: 28px;
}
.widgetMqttTempsStatus{
    display: flex;
    flex-direction: column;
}
.widgetMqttMotor1{
    -webkit-box-shadow: 0px 0px 11px -5px #000000; 
    box-shadow: 0px 0px 11px -5px #000000;
    width: 250px;
    height: 120px;
    margin-top: 20px;
    margin-left: 10px;
}
.widgetMqttMotor1StatusList{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.widgetMqttMotor1Contain{
    margin-top: 10px;
    margin-bottom: 15px;
}
.m1Start{
    width: 85px;
    height: 25px;
    border-radius: 5px;
    border: none;
    background-color: #33FF99;
    margin-right: 25px;
    cursor: pointer;
}
.m1Stop{
    width: 85px;
    height: 25px;
    border-radius: 5px;
    border: none;
    background-color: #FF0000;
    cursor: pointer;
}